.container {
  max-height: 1024px;
  position: absolute;
  display: flex;
  justify-content: end;
  max-width: 1920px;
  width: 100%;
  @media (max-width: 800px) {
    img {
      display: none;
    }
    height: 750px;
    background: url("/GhostAD/Rectangle.png") no-repeat right center fixed;
  }
}
.blockImage {
  height: 1024px;
  align-items: center;
  display: flex;
  width: 100%;
  @media (max-width: 800px) {
    height: 750px;
  }
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
}
.blockLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  h1 {
    float: left;
    width: 70%;
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
  }
  a {
    float: left;
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  p {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}
.blockTitle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  p {
    padding-left: 20px;
  }
  img {
    margin-top: 6px;
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
    hr {
      width: 3px;
      height: 120px;
      background: #1f2633;
      border: none;
    }
    p {
      width: 100%;
    }
  }
}
.blockRight {
  width: 40%;
  display: flex;
  justify-content: end;
  @media (max-width: 1200px) {
    img {
      height: 550px;
    }
  }
  @media (max-width: 1000px) {
    img {
      height: 400px;
    }
  }
  @media (max-width: 800px) {
    img {
      width: 200px;
      height: 230px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.LearMore {
  height: 58px;
  //   display: flex;
  margin-top: 20px;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #39adaa;
  // background-image: linear-gradient(#1095c1 0 0);
  // background-size: 0;
  // background-repeat: no-repeat;
  // transition: 0.4s;
  img {
    padding-right: 10px;
    position: relative !important;
  }
  .buttonCustom {
    width: 48px;
    height: 48px;
    border-radius: 50vh;
    border: 1px solid #000000;
  }
}
.buttonBook {
  margin-top: 30px;
  width: 200px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
//Section Two
.rowContainerSecond {
  padding-top: 50px;
  display: flex;
  width: 100%;
  background: #ffffff;
  height: 980px;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (max-width: 1100px) {
    height: 1050px;
  }
  @media (max-width: 700px) {
    height: 1100px;
  }
  @media (max-width: 700px) {
    height: 1200px;
  }
}
.colContainerSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blockSlide {
  width: 100%;
  min-width: 1600px;
  height: 500px;
  // overflow-x: hidden;
  display: block;
  position: relative;
  @media all and (max-width: 1600px) {
    min-width: 1200px;
  }
  @media all and (max-width: 1200px) {
    min-width: 1000px;
  }
  @media all and (max-width: 1000px) {
    min-width: 700px;
  }
  @media all and (max-width: 700px) {
    min-width: 550px;
  }
  @media all and (max-width: 550px) {
    min-width: 350px;
  }
}
.overview {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 80px;
  span {
    color: #39adaa;
  }
  p {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
// Section Three
.rowContainerThree {
  display: flex;
  width: 100%;
  height: 550px;
  justify-content: center;
  text-align: center;
  position: relative;
  img {
    right: 0;
    position: absolute;
    z-index: 1;
  }
}
.wrapperImage {
}
.colContainerThree {
  height: 500px;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, #1f2633 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    height: 555px;
    background: linear-gradient(90deg, rgba(249, 249, 249, 0) 0%, #1beed9 100%);
  }
}
.wrapperContentThree {
  text-align: left;
  h1 {
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 50px;
  }
  p {
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
    margin-bottom: 50px;
  }
}
// Section Four
.rowContainerFour {
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: 550px;
  justify-content: center;
  text-align: center;
  position: relative;
  img {
    left: 0;
    position: absolute;
    z-index: 1;
  }
  @media (max-width: 500px) {
    height: auto;
  }
}
.colContainerFour {
  height: 500px;
  background: linear-gradient(90deg, #1f2633 0%, rgba(217, 217, 217, 0) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    height: 700px;
    background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #1beed9 100%);
  }
}
.wrapperContentFour {
  text-align: right;
  h1 {
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 50px;
  }
  p {
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
    margin-bottom: 50px;
  }
}
// Section Five
.rowContainerFive {
  margin-top: 150px;
  height: 298px;
  background: url("/bgsection4.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.colContainerFive {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    // font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  .buttonBookBottom {
    margin-top: 30px;
    width: 200px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    @media (max-width: 500px) {
      display: none;
    }
  }
}
.blockImagesRD {
  @media (max-width: 1200px) {
    img {
      height: 400px;
      margin-top: 74px;
    }
  }
  @media (max-width: 1000px) {
    img {
      display: none;
    }
  }
}
