.container {
  max-height: 790px;
  position: absolute;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  display: flex;
  justify-content: end;
  max-width: 1920px;
  width: 100%;
  @media (max-width: 600px) {
    img {
      height: 860px;
      width: 100%;
    }
  }
}
.blockImage {
  height: 790px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  @media (max-width: 1240px) {
    img {
      max-height: 400px;
    }
  }
  @media (max-width: 1100px) {
    img {
      max-height: 350px;
    }
  }
  @media (max-width: 980px) {
    img {
      max-height: 300px;
    }
  }
  @media (max-width: 768px) {
    height: 758px;
    img {
      max-height: 200px;
    }
  }
  @media (max-width: 500px) {
    height: 929px;
    img {
      max-height: 200px;
    }
  }
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  margin-bottom: 100px;
}
.blockLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  h1 {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
  }
  a {
    float: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  p {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}
.blockTitle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  p {
    padding-left: 20px;
  }
  img {
    position: relative;
    margin-top: 7px;
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
    hr {
      margin-top: 8px;
      width: 3px;
      height: 40px;
      background: #161616;
      border: none;
    }
  }
}
.LearMore {
  height: 58px;
  //   display: flex;
  margin-top: 20px;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #39adaa;
  img {
    padding-right: 10px;
    position: relative !important;
  }
  .buttonCustom {
    width: 48px;
    height: 48px;
    border-radius: 50vh;
    border: 1px solid #000000;
  }
}
.buttonBook {
  margin-top: 30px;
  width: 200px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  transition: all 0.7s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: inset 300px 0 0 0 #4abbb7;
  }
}
// Section Two
.rowContainerTwo {
  justify-content: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
    margin: 50px 0px;
    span {
      color: #39adaa;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.colContainerTwo {
  padding: 70px 70px;
  text-align: left;
  background: #d9d9d9;
  @media (max-width: 500px) {
    text-align: left;
  }
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  a {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 500px) {
    padding: 20px 20px;
  }
}
.checkBoxCustom {
  margin: 20px 0px;
  span {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.buttonCustom {
  background: linear-gradient(0deg, #39adaa, #39adaa), #39adaa;
  width: 140px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: rgb(130, 195, 230);
    color: #000000;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffffff;
  margin-right: 30px;
  @media (max-width: 500px) {
    width: 100px;
    margin-right: 10px;
  }
}
.converButton {
  @media (max-width: 500px) {
    margin-top: -30px;
  }
}
.progressBar {
  margin-bottom: 80px;
  :global {
    & .ant-progress-bg {
      height: 18px !important;
      background: red;
    }
  }
}
.blockMarket {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
.blockMarketChildLeft {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1024px) {
    width: 100%;
    text-align: center;
  }
  @media (max-width: 500px) {
    text-align: left;
  }
}
.blockMarketChildRight {
  width: 50%;
  display: flex;
  justify-content: end;
  margin: 70px 0;
  @media (max-width: 1024px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 500px) {
    img {
      max-width: 350px;
      height: 300px;
    }
  }
}
// Section Three
.rowContainerThree {
  justify-content: center;
}
.colContainerThree {
  height: 620px;
  background: #1f2633;
  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    height: 880px;
  }
  @media (max-width: 500px) {
    height: 850px;
  }
}
.colContainerThreeChild {
  display: flex;
  width: 100%;
  justify-content: space-between;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    color: #ffffff;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
.blockMarketChildLeftChild {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1024px) {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  @media (max-width: 500px) {
    text-align: left;
  }
}
.blockMarketChildRightChild {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 70px 0;
  @media (max-width: 1024px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 500px) {
    img {
      max-width: 350px;
      height: 300px;
    }
  }
}
// Section Four
.rowContainerFour {
  height: 1080px;
  background: linear-gradient(0deg, #f1f1f1, #f1f1f1), #161616;
  justify-content: center;
  @media (max-width: 1000px) {
    height: 1324px;
  }
  @media (max-width: 848px) {
    height: 2524px;
  }
}
.colContainerFour {
  margin-top: 80px;
  text-align: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    span {
      color: #39adaa;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 70px;
  }
}

.blockOne {
  grid-area: box1;
  height: 100%;
  min-height: 280px;
  max-width: 30%;
  border: 1px dashed #000000;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px 30px 45px 30px;
  margin: 30px 0;
  cursor: pointer;
  transition: all 0.7s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  img {
    position: absolute;
    left: 13px;
    top: -35px;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
  }
  @media (max-width: 1000px) {
    max-width: 350px;
  }
  @media (max-width: 848px) {
    max-width: 700px;
    // margin: 0 30px;
  }
}
.blockAll {
  justify-content: space-between;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}
// Section Five
.rowContainerFive {
  height: 860px;
  justify-content: center;
  @media (max-width: 1024px) {
    height: 1160px;
  }
}
.colContainerFive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
.blockContentStep {
  width: 45%;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    span {
      color: #39adaa;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 1024px) {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 100%;
  }
}
.blockRightLight {
  width: 55%;
  @media (max-width: 1024px) {
    width: 100%;
  }
}
.blockLight {
  margin: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 200px;
  background: linear-gradient(
    90deg,
    rgba(57, 173, 170, 0) 0%,
    rgba(238, 238, 238, 0) 0.01%,
    #d9d9d9 100%
  );
  border-radius: 10px;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */
    color: #39adaa;
    margin: 0;
  }
  @media (max-width: 500px) {
    margin: 40px 0px 40px 0px;
    h1 {
      font-size: 36px;
      line-height: 40px;
    }
  }
}
.blockSell {
  padding-left: 50px;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.buttonBookBottom {
  margin-top: 30px;
  width: 200px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  transition: all 0.7s ease;
  &:hover {
    cursor: pointer;
    color: #000000;
    transform: scale(1.08);
    box-shadow: inset 300px 0 0 0 #4abbb7;
  }
  @media (max-width: 500px) {
    display: none;
  }
}
