.converUpload {
  :global {
    .ant-upload.ant-upload-select-picture-card {
      background: url('/Ghost/ImageBack.png');
      background-repeat: no-repeat;
      background-size: 300px 150px;
      width: 300px;
      height: 150px;
    }
    .ant-upload-list-picture-card-container {
      width: 300px;
      height: 150px;
      img {
        object-fit: cover;
      }
    }
  }
}
