.container {
  height: 1024px;
  position: absolute;
  display: flex;
  justify-content: end;
  max-width: 1920px;
  width: 100%;
  @media (max-width: 800px) {
    img {
      display: none;
    }
    height: 970px;
    background: url('/GhostEncryption/CoverBackgound.png') no-repeat right
      center fixed;
  }
}
.blockImage {
  height: 1024px;
  align-items: center;
  display: flex;
  width: 100%;
  @media (max-width: 800px) {
    height: 970px;
  }
}
.blockTitle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  p {
    padding-left: 20px;
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
    hr {
      width: 3px;
      height: 200px;
      background: #161616;
      border: none;
    }
  }
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
}
.blockLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  h1 {
    float: left;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
  }
  a {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #39adaa;
  }
  p {
    float: left;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 500px;
  }
  @media (max-width: 1000px) {
    width: 100%;
    a {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}
.blockRight {
  width: 40%;
  display: flex;
  justify-content: end;
}
//SectionTwo
.rowContainerTwo {
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #ffffff, #ffffff), #161616;
  @media (max-width: 1000px) {
    height: 1400px;
  }
  @media (max-width: 600px) {
    height: 2000px;
  }
}
.colContainerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    span {
      color: #39adaa;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 20px 0px 60px 0px;
  }
  @media (max-width: 500px) {
    h1 {
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
}
.blockKeyOne {
  height: 400px;
  width: 268px;
  //   border: 2px dotted #92acfe;
  border: 1px dashed #000000;
  border-radius: 10px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  transition: all 0.7s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  img {
    position: absolute;
    left: 13px;
    top: -35px;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
  }
  @media (max-width: 1200px) {
    width: 215px;
  }
  @media (max-width: 1000px) {
    width: 268px;
  }
  @media (max-width: 600px) {
    width: 350px;
    height: 290px;
    margin: 0px 10px;
  }
  @media (max-width: 450px) {
    width: 300px;
    height: 290px;
    margin: 0px 10px;
  }
}
.wrapperBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  grid-row-gap: 60px;
  row-gap: 60px;
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
// SectionThree
.rowContainerThree {
  display: flex;
  justify-content: center;
}
.colContainerThree {
  height: 1606px;
  background: url(/EncryptionLink.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  margin-top: 50px;
  @media (max-width: 1050px) {
    background: none;
    height: 2150px;
  }
  @media (max-width: 600px) {
    height: 2350px;
  }
}
.contentOne {
  width: 100%;
  height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #39adaa;
  }
  p {
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  :global {
    // .ant-collapse-header {
    // }
    .ant-collapse .ant-collapse-header {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      padding-left: 0;
      /* identical to box height */
      //   :first-child {
      //     color: orange;
      //   }
      &:active {
        color: #39adaa;
      }
      &:focus {
        color: #39adaa;
      }
      &.ant-collapse-item-active {
        color: #39adaa;
      }
    }
  }
  @media (max-width: 1000px) {
    height: 835px;
  }
}
.contentTwo {
  width: 410px;
  height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: auto;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #39adaa;
  }
  p {
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 1000px) {
    width: 100%;
    height: 735px;
  }
}
.contentThree {
  width: 100%;
  height: 835px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #39adaa;
  }
  p {
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 600px) {
    height: 635px;
  }
}
.contentSectionThree {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  color: #000000;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    span {
      color: #39adaa;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  @media (max-width: 500px) {
    h1 {
      padding: 0px 30px;
      text-align: left;
    }
    p {
      padding: 30px;
      text-align: left;
    }
  }
}
// SectionFor
// SectionFive
.rowContainerFive {
  margin-top: 70px;
  height: 250px;
  background-color: #39adaa;
  justify-content: center;
  align-items: center;
}
.colContainerFive {
  display: flex;
  justify-content: space-between;
  align-items: end;
  @media (max-width: 1000px) {
    img {
      height: 200px;
    }
  }
  @media (max-width: 600px) {
    img {
      display: none;
    }
  }
}
.blockLeftFive {
  width: 60%;
  height: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    margin-top: 20px;
    height: 42px;
    width: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blockImageData {
  display: none;
  margin-top: 150px;
  @media (max-width: 1050px) {
    display: block;
  }
  @media (max-width: 500px) {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    img {
      width: 270px;
      height: auto;
    }
  }
}
.converDecrypt {
  display: flex;
  justify-content: center;
  p {
    max-width: 770px;
  }
}
