.converDot {
  width: 100%;
  hr {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      #646464 40%,
      #fff 50%,
      #646464 60%,
      hsla(0, 0%, 100%, 0)
    );
    display: block;
    border: none;
  }
  @media (max-width: 800px) {
    display: none;
  }
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  hr {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      #646464 40%,
      #fff 50%,
      #646464 60%,
      hsla(0, 0%, 100%, 0)
    );
    display: block;
  }
}

.dot {
  width: 165px;
  height: 29px;
  margin: 0px 3rem;
  background: transparent;
  border-radius: 50vh;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #868686;
  @media (max-width: 1100px) {
    width: 120px;
    margin: 0px 2rem;
  }
  @media (max-width: 950px) {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 2rem;
  }
}

.active {
  width: 165px;
  height: 29px;
  margin: 0px 3rem;
  border-radius: 50vh;
  cursor: pointer;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
// ========================================= Card Module
.card {
  display: flex;
  margin-top: 230px;
  flex-direction: column;
  justify-content: center;
  width: 75rem;
  height: fit-content;
  background: transparent;
  border-radius: 20px;
  @media (max-width: 1300px) {
    width: 60rem;
  }
  @media (max-width: 1200px) {
    width: 50rem;
  }
  @media (max-width: 1050px) {
    width: 43rem;
    left: 30%;
  }
}

.card img {
  margin-top: -20%;
  width: 100%;
  border-radius: 20px;
  @media (max-width: 1050px) {
    width: 45rem;
  }
}

.card h2 {
  margin: 0;
  margin-top: 1rem;
}

.card p {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.card .btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel {
  width: 100%;
  max-width: 450px;
  height: 100%;
}
.wrapperSlide {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
