.wrapperSlide {
  display: none;
  @media (max-width: 900px) {
    display: block;
  }
}
.onClickChangeSlide {
  display: flex;
  justify-content: center;
}
.button {
  width: 48px;
  height: 48px;
  left: 357px;
  top: 282px;
  border-radius: 50vh;
  border: 1px solid #000000;
  margin: 0 10px;
  cursor: pointer;
}
.blockChildSlideBot {
  background: linear-gradient(90deg, #393f4d 0%, #101214 100%);
  border-radius: 10px;
  height: 100%;
  margin-bottom: 30px;
}
.titleSlide {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #39adaa;
  padding-top: 30px;
  text-align: left;
  padding-left: 50px;
  @media (max-width: 500px) {
    padding-left: 30px;
  }
}
.content {
  padding: 0px 50px 50px 50px;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    padding: 0px;
    margin: 20px 0px 20px 0px;
  }
  @media (max-width: 500px) {
    padding: 0px 30px 30px 30px;
  }
}
.blockSlide {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
.blockChildSlideContent {
}
